/* css */
body {
    background: rgb(66, 204, 247);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container{
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;  
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
   color: rgb(246, 253, 255); 


}
@media only screen and (min-width:1600px){
    .container {
        justify-content: center;
        display: flex;
    }
}
.textinput[type="text"] {
    height: 75px;

}
li{
}