/* css */
body {
    background: rgb(66, 204, 247);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

h1 {
   color: rgb(246, 253, 255); 

}
@media only screen and (min-width:1600px){
    .container {
        justify-content: center;
        display: flex;
}